#new-wizard {
  background-color: #222;
  font-weight: 100;
  padding: 50px;
  padding-bottom: 90px;
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#new-wizard .title {
  font-weight: 100;
  color: #fefefe;
}

#new-wizard .subtitle {
  margin-top: 10px;
  font-weight: 100;
  color: #999;
}
