.editComponentName {
  position: absolute;
  top: -3.52px;
  left: 0px;
  border: none;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: none;
  outline: none;
  resize: none;
  line-height: 1;
  font-family: "Open Sans";
  transform-origin: "left top";
  text-align: center;
  color: black;
}
